<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Concert List</title>
</head>
<body>
    <h1>Concert List</h1>
    <a href="/add-concert">Add Concert</a> | 
    <a href="/delete-concert">Delete All Concerts</a>
    <hr>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr th:each="concert : ${concerts}">
    <td th:text="${concert.id}"></td>
    <td th:text="${concert.title}"></td>
    <td th:text="${concert.performer}"></td>
    <td th:text="${#dates.format(concert.date, 'yyyy-MM-dd')}"></td>
    <td th:text="${concert.description}"></td>
    <td>
        <a th:href="@{'/delete-concert/' + ${concert.id}}">Delete</a>
    </td>
</tr>
    </table>
</body>
</html>